<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Add Book</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/add-section-animation.js" defer></script>
</head>
<body style="background-image: url(https://image.freepik.com/free-vector/white-blurred-background_1034-249.jpg);background-size:cover;">
    <div class="container" style="margin-top: 70px;width: 580px;"> 
        <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>

        <div class="card" style="border:2px solid rgba(0, 0, 0, 0.336);border-radius: 15px;"> 
            <div class="card-header" >
                Add a new book
                
                <img style="margin-left: 71%;" onclick="window.history.go(-1); return false;" src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png"/>
            </div>
            <div class="cardbody" >
                <form action="/books/add" method="post" >
                    <div class="formgrid">
                        <div class="formgroup" >
                            <label>Name:</label>
                            <input style="border-color: #2975CC;"  required type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
                        </div>
                        <div class="formgroup" style="margin-left: 3rem;">
                            <label>Author:</label>
                            <input style="border-color: #2975CC;"  required type="text" class="form-control" name="author" value="<%= author %>" autocomplete="off">
                        </div>
                        <div class="formgroup" >
                            <label>Genere:</label>
                            <input style="border-color: #2975CC;" required type="text" class="form-control" name="genere" value="<%= genere %>" autocomplete="off">
                        </div>
                        <div class="formgroup" style="margin-left: 3rem;">
                            <label>Edition:</label>
                            <input style="border-color: #2975CC;" required type="text" class="form-control" name="edition" value="<%= edition %>" autocomplete="off">
                        </div>
                    </div>
                    <div style="margin-top: 1rem;">
                        <div style="display: flex;justify-content: flex-end;">
                            <input
                                class="cancle"
                                action="action"
                                onclick="window.history.go(-1); return false;"
                                type="submit"
                                value="Cancel"
                            />
                            <input id="confirmAdd" type="submit" class="btn btn-info" value="Add Book"/>
                        
                        </div>
                    </div>
                </form>
                    
            </div>
        </div>
    </div>    
</body>
</html>