<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Library Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/delete-section-script.js" defer></script>
</head>
<body class="container" style="margin-top: 50px;width: 100%;">
    
        <% if (messages.error) { %>
        <div class="alert alert-danger" role="alert"><%- messages.error %></div>
        <% } %>

        <div class="card"> 
            <div class="headerr">GeekLib</div>
            <div class="cardheader" >
                <ul class="nav nav-pills w-100" style="display: flex;justify-content: space-between;">
                    <li >
                        <a >Library item list</a>
                    </li>
                    <li >
                        <a id="aaa">
                            <% if (messages.success) { %>
                                <div class="action-msg"><%- messages.success %></div>
                                <% } %>
                        </a>
                    </li>
                    <li >
                        <a class="nav-link active" href="/books/add">Add Book</a>
                    </li>
                </ul>
            </div>
        
    <div class="card-body">
        
        <% if(data.length) { %>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genere</th>
                    <th scope="col">Edition</th>
                    <th width="200px">Action</th>
                </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i< data.length; i++) { %>
                <% if (i%2==0) { %>
                    
                    <tr style="background-color: #DCE9F8;">
                        <th scope="row"><%= (i+1) %></th>
                        <td><%= data[i].name%></td>
                        <td><%= data[i].author%></td>
                        <td><%= data[i].genere%></td>
                        <td><%= data[i].edition%></td>
                        <td>
                            <a  href="../books/edit/<%=data[i].id%>"><button class="edit-btn">Edit</button></a>
                            <a class="btn btn-danger delete" onclick=deletebook("../books/delete/<%=data[i].id%>") style="color: white;">Delete</a>                             
                        </td>
                    </tr>
                 <% } else { %>
                   <tr>
                        <th scope="row"><%= (i+1) %></th>
                        <td><%= data[i].name%></td>
                        <td><%= data[i].author%></td>
                        <td><%= data[i].genere%></td>
                        <td><%= data[i].edition%></td>
                        <td>
                            <a  href="../books/edit/<%=data[i].id%>"><button class="edit-btn">Edit</button></a>                       
                            <a class="btn btn-danger delete" onclick=deletebook("../books/delete/<%=data[i].id%>") style="color: white;">Delete</a> 
                        </td>
                    </tr>
                 <% } %>
                
                
            <% } %>
            </tbody>
        </table>
        <% } %>
        
        <!-- if result is empty -->
        <% if(!data.length) { %>
            <p class="text-center">No book found!<br><br>
                <a  href="/books/add">
                    <button class="add-btn" >Add Book</button>    
                </a>
             
            </p>
        <% } %>

        </div>
    </div>

    <div  class="delete-section">
        <div class="card-header" >
           
		    <img style="margin-left: 96%;" onclick=displaynone(); return false;" src="https://img.icons8.com/material-outlined/24/000000/delete-sign.png"/>
            
        </div>
        <hr style="background-color: rgba(31, 29, 29, 0.171);width: 100%;margin-top: -.1rem;"/>
        <div class="warn-center">
            <img src="https://img.icons8.com/emoji/48/000000/warning-emoji.png"/>
        </div>
        <div class="warn-center">
            <p>Are you sure you want to delete the Book?</p>
        </div>
        <div class="warn-center" style="margin-top: .5rem;">
            <div id="deletionlogo" style="display: flex;">
                <input
                        class="cancle"
                        action="action"
                        onclick=displaynone()
                        type="submit"
                        value="Cancle"
                />
                <a >
                <button id="confirmDelete" class="add-btn" >Yes</button>    
                </a>
            </div>
        </div>
        
    </div>  
</body>
</html>